/* Main Styles
------------------------------------------------ */

body {
	width: 100%;
}
.inner {
	max-width: 960px;
	width: 100%;
	margin: 0 auto;
}
#container {
	width: 100%;
}
header {
	border-top: 1px solid #46515f;
	border-bottom: 1px solid #18121a;
	width: 100%;
	height: 671px;
	background: url(../images/header_bg.gif) repeat 0 0;
}
header.narrow {
	height: 230px;
}
header.narrow #work {
	display: none;
}
div.highlight {
	background: url(../images/header_highlight.png) no-repeat 0 -1px;
	background-size: contain;
	height: 100%;
}
#top, #bottom {
	background-color: #11161c;
	border-bottom: 1px solid #46515f;
	width: 100%;
	padding: 10px 0;
	font-size: 11px;
	color: #85898f;
	text-shadow: #000 1px 1px 0px;
	position: relative;
}
#top a, #bottom a { color: #eee; }
#top div.tweet {
	float: left;
	display: block;
	max-width: 720px;
	width: 100%;
	background: url(../images/twitter.gif) no-repeat 0 -2px;
}
#top div.tweet blockquote {
	margin-left: 62px;
}
#top div.tweet blockquote li {
	list-style: none;
}
#top div.tweet img {
	float: left;
	display: block;
}
#bottom {
	border: none;
	border-top: 1px solid #46515f;
	text-align: center;
}
.right {
	float: right;
}
.headline {
	float: left;
	max-width: 960px;
	width: 100%;
	height: 476px;
	margin: 0;
	background: url(../images/slide.png) no-repeat 0 5px;
	background-size: contain;
}
.headline h1 {
	text-align: center;
	font-size: 140px;
	text-shadow: 0px 1px 0px rgba(255,255,255,0.3);
	color: #111;
	line-height: 1;
}
.headline h2 {
 	color: #ecd078;
	float: left;
	font-size: 16px;
	text-shadow: 0px 1px 0px rgba(0,0,0,0.6);
	line-height: 1;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.25em;
	width: 100%;
}
.headline h1, .headline span {
	position: relative;
	top: 5px;
}
.narrow {
	height: 170px;
}
a.button, input[type="submit"], .wpcf7-submit {
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2), -1px -1px 0px #fff inset;
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2), -1px -1px 0px #fff inset;
	box-shadow: 0 1px 2px rgba(0,0,0,0.2), -1px -1px 0px #fff inset;
	text-align: center;
	text-shadow: 1px 1px 0 #fff;
	font-size: 14px;
	font-weight: bold;
	border: 1px solid #C2D1D7;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 6px 0;
	background-image: linear-gradient(bottom, rgb(237,237,237) 23%, rgb(255,255,255) 60%);
	background-image: -o-linear-gradient(bottom, rgb(237,237,237) 23%, rgb(255,255,255) 60%);
	background-image: -moz-linear-gradient(bottom, rgb(237,237,237) 23%, rgb(255,255,255) 60%);
	background-image: -webkit-linear-gradient(bottom, rgb(237,237,237) 23%, rgb(255,255,255) 60%);
	background-image: -ms-linear-gradient(bottom, rgb(237,237,237) 23%, rgb(255,255,255) 60%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.23, rgb(237,237,237)),color-stop(0.6, rgb(255,255,255)));
}
#wpstats {
	display: none;
}
.wp-caption {
	position: relative;
	margin-bottom: 20px;
}
.wp-caption-text {
	position: absolute;
	bottom: 20px;
	left: 0;
	background: #222;
	color: #fff;
	text-shadow: 1px 0 0 #000;
	padding: 3px 8px;
	font-style: italic;
}



/* Navigation
------------------------------------------------ */

nav {
	max-width: 960px;
	width: 100%;
	padding: 60px 0 30px;
}
nav #logo {
	float: left;
	max-width: 240px;
	width: 100%;
}
nav #logo a {
	border: none;
}
nav ul {
	float: right;
	max-width: 620px;
	width: 100%;
	margin-top: 25px;
}
nav ul li {
	float: right;
}
nav ul li a {
	float: left;
}
nav ul li a {
	border: none;
	font-family: "franklin-gothic-ext-comp-urw",Oswald,sans-serif;
	font-size: 18px;
	font-weight: normal;
	text-transform: uppercase;
	text-decoration: none;
	color: #ecd078;
	/*margin-left: 33px;*/
}
nav #menu-main-navigation a {
	color: #ecd078;
	text-shadow: 0 1px 0 rgba(0,0,0,0.5);
	letter-spacing: 0.15em;
	/*background-color: #242d38;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3), 1px 1px 1px rgba(0,0,0,0.5) inset;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3), 1px 1px 1px rgba(0,0,0,0.5) inset;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3), 1px 1px 1px rgba(0,0,0,0.5) inset;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;*/
	padding: 12px 36px;
	border-left:1px dotted rgba(255, 255, 255, 0.2);
}
nav #menu-main-navigation .menu-item-824 a {
	border:none;
}
nav #menu-main-navigation a:hover {
	color: #fff;
}
#journal-title {
	padding-top: 15px;
}
.article, .about {
	float: left;
	width: 300px;
	margin: 40px 0 42px 20px;
}
.article h2, .about h2, .post h2, .portfolio h2 {
	font-size: 30px;
	font-weight: normal;
	line-height: 1;
	padding: 0 20px 10px;
}
.article #primary h2,
.page-id-11 .page h2.entry-title {
	color: #272423;
	font-size: 70px;
	font-weight: normal;
	line-height: .8;
	text-transform: uppercase;
	text-shadow: 1px 1px 0 #F9F9F7, 2px 4px 0 #E7E6E2;
}
.post h2, .portfolio h2 {
	font-size: 80px;
	line-height: 1;
	color: #1A1A1A;
	border-bottom: 1px dashed #ccc;
	padding: 30px 0 60px !important;
	margin: 0 20px 10px;
	text-shadow: 1px 1px 0 #F9F9F7, 2px 4px 0 #E7E6E2;
}
.page-id-11 .page h2.entry-title, .page-template-portfolio-page-php .main h2 {
	padding: 0 105px 10px;
	text-align: center;
}
.page-id-11 .page h2.entry-title {
	padding-bottom:70px;
}
.article h3 {
	font-size: 18px;
	font-weight: normal;
	padding-left: 20px;
	line-height: 1;
}
article h3 {
	font-size: 32px;
	line-height: 1.4;
	color: #1A1A1A;
}
.article p, .about p, .testimonials blockquote {
	padding: 0 20px 30px;
	font-size: 12px;
}
.article .date {
	font-size: 11px;
	color: #999;
}
.article ul {
	list-style: none;
}
.article ul li {
	padding: 0 0 12px;
}
.article select {
	margin-left: 20px;
	padding: 6px 8px;
}
.widget-area ul.xoxo {
	margin-left: 0;
}
.page-title, h1.entry-title {
	font-size: 58px;
	color: #272423;
	letter-spacing: 2px;
	margin-left: 40px;
	padding: 40px 0 10px;
	text-transform: uppercase;
	text-shadow: 1px 1px 0 #F9F9F7, 2px 4px 0 #E7E6E2;
	line-height: 1;
}
h1.entry-title {
	margin-left: 0;
}
.archive .post, .page .page, .single .post, .single .portfolio {
	float: left;
	margin-left: 20px;
	padding: 50px 0 80px;
}
.archive .post .entry-title, .archive .post .entry-meta, .archive .post .entry-summary, .archive .post .entry-utility, .page .page .entry-title, .page .page .entry-meta, .page .page .entry-content, .page .page .entry-utility, .single .post .entry-title, .single .post .entry-meta, .single .post .entry-summary, .single .post .entry-utility, .single .portfolio .entry-title, .single .portfolio .entry-meta, .single .portfolio .entry-summary, .single .portfolio .entry-utility {
	padding-left: 20px;
}
.single .portfolio .entry-title span {
	font-size:
}
.archive .post .entry-meta, .page .page .entry-meta, .single .post .entry-meta, .single .portfolio .entry-meta {
	width: 220px;
	float: right;
	line-height: 24px;
	border-left: 1px solid #ccc;
}
.archive .post .entry-meta .alignleft, .page .page .entry-meta .alignleft, .single .post .entry-meta .alignleft, .single .portfolio .entry-meta .alignleft {
	width: 80px;
	float: left;
	font: normal 15px/1.6 "franklin-gothic-ext-comp-urw",Oswald,sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #999;
}
.archive .post .entry-meta span.author, .page .page .entry-meta span.author, .single .post .entry-meta span.author, .single .portfolio .entry-meta span.author {
	display: block;
}
.single .portfolio .entry-meta .button {
	display: block;
	width: 85%;
	margin-bottom: 20px;
}
.single .portfolio .entry-meta .post_tags {
	display: block;
	margin-left: 80px;
}
.single .portfolio .entry-meta .post_tags a {
	line-height: 24px;
}
.archive .post .entry-summary, .single .post .entry-summary, .single .portfolio .entry-summary {
	max-width: 660px;
	width: 100%;
	float: left;
}
.archive .post .entry-summary h3, .single .post .entry-summary h3, .single .portfolio .entry-summary h3, #author-description h3 {
	font-size: 34px;
	line-height: 1;
	padding: 30px 0 10px;
}
.archive .post .entry-summary p, .archive .post .entry-summary ul, .archive .post .entry-summary ol, .single .post .entry-summary p, .single .post .entry-summary ul, .single .post .entry-summary ol, .single .portfolio .entry-summary p, .single .portfolio .entry-summary ul, .single .portfolio .entry-summary ol {
	font-size: 16px;
	line-height: 27px;
}
.archive .post .entry-summary ul, .archive .post .entry-summary ol, .single .post .entry-summary ul, .single .post .entry-summary ol, .single .portfolio .entry-summary ul, .single .portfolio .entry-summary ol {
	padding: 15px 0;
}
.archive .post .entry-summary blockquote p, .single .post .entry-summary blockquote p, .single .portfolio .entry-summary blockquote p, .entry-content blockquote p {
	font-family: "skolar","Droid Serif",serif;
	font-size: 24px;
	font-style: italic;
	line-height: 30px;
	padding-bottom: 15px;
}
.archive .post .entry-summary object, .single .post .entry-summary object, .single .portfolio .entry-summary object {
	display: inline-block;
	margin: 0;
}
.video-container {
	height: 0;
    overflow: hidden;
    padding-bottom: 60%;
	margin: 1.5em 0;
    position: relative;
}
.video-container iframe,
.video-container object,
.video-container embed {
	height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.single .portfolio .entry-summary img {
	margin-bottom: 2em;
	max-width: 100%;
}
#nav-above {
	border-bottom: 1px dashed #ccc;
	margin: 0 20px 60px;
	padding-bottom: 10px;
	display: inline-block;
	max-width: 900px;
	width: 100%;
}
#nav-above .nav-next {
	background: url(../images/arrow-left.png) no-repeat 0 5px;
	width: 33%;
	float: left;
	padding-left: 24px;
}
#nav-above .nav-previous {
	background: url(../images/arrow-right.png) no-repeat right 5px;
	width: 33%;
	float: right;
	text-align: right;
	padding-right: 24px;
}
.home .main h1 {
	color: #272423;
	font-size: 42px;
	font-weight: normal;
	line-height: 1;
	text-transform: uppercase;
	text-shadow: 1px 1px 0 #F9F9F7, 2px 4px 0 #E7E6E2;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 10px;
}
.home .main h1 strong {
	font-size: 90px;
	font-weight: normal;
	line-height: 75px;
}
.home .main h2 {
	font-size: 14px;
	text-align: center;
	color: #9c8d6c;
	letter-spacing: .25em;
}
.about, .testimonials {
	width: 100%;
	margin: 40px 0 0 0;
	padding-bottom: 22px;
}
.about h2 {
	font-size: 14px;
	line-height: 20px;
}
.about h2 strong {
	color: #272423;
	font-size: 58px;
	font-weight: normal;
	line-height: 1;
	text-transform: uppercase;
	text-shadow: 1px 1px 0 #F9F9F7, 2px 4px 0 #E7E6E2;
	float: left;
	padding-bottom: 12px;
}
.about h2 small {
	font-family: "skolar","Droid Serif",serif;
	font-size: 14px;
	line-height: 22px;
}
.about p, .entry-content p, .entry-content li, .testimonials blockquote {
	font-size: 16px;
	line-height: 27px;
	padding-bottom: 2em;
}
.home .about p {
	float: left;
	width: 45%;
}
.home .testimonials blockquote {
	float: left;
	width:100%;
}
section.main {
	background: url(../images/section_gradient.jpg) repeat-x 0 0;
}
.home section img, .page section img, .blog section img, .archive section img, .category section img, .single section img {
	-webkit-box-shadow: 0 2px 4px #999;
	-moz-box-shadow: 0 2px 4px #999;
	box-shadow: 0 2px 4px #999;
}
.home .headline ul {
	margin: 35px auto 0;
	max-width: 960px;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
}
.home .thumbnail {
	position: relative;
	margin-left: 0;
	list-style: none;
}
.thumbnail {
	float: left;
	max-width: 199px;
	width: 22%;
	height: 137px;
	top: 90px;
	background-color: #fff;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 1px 1px 0px #111;
	-webkit-box-shadow: 1px 1px 0px #111;
	box-shadow: 1px 1px 0px #111;
	overflow: hidden;
}
.thumbnail a {
	display: flex;
	justify-content: center;
	max-width: 199px;
	width: 100%;
	height: 137px;
	background: url(../images/zoom.gif) no-repeat 0 0;
	text-align: center;
	margin: 0 auto;
	border: none;
}
.thumbnail a:hover img {
	opacity: .35;
	transition: opacity .3s linear;
}
.thumbnail h2 {
	opacity: 0;
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	position: absolute;
	padding: 0;
	max-width: 199px;
	width: 100%;
	height: 137px;
}
.reading {
	float: left;
}
.reading h3 {
	font-size: 22px;
	line-height: 1.1;
	padding-bottom: 6px;
}
.reading img {
	float: left;
	max-width:49px;
	width:100%;
	background-color: #354353;
	margin: 0 20px 10px;
}
.reading blockquote {
	padding-left: 20px;
	font-size: 14px;
	line-height: 1.7;
}
.reading blockquote cite {color:#999;}
.reading h4 { font-size: 16px; }
.reading iframe { padding-left: 16px; }
#blog-entry {
	position: relative;
	text-align: center;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
#blog-entry div.date {
	background: #11161C;
	opacity: 0.9;
	filter: alpha(opacity=90);
	-moz-opacity: 0.9;
	position: absolute;
	left: 220px;
	top: 66px;
	width: 45px;
	padding: 8px 12px 10px;
	line-height: 11px;
}
#blog-entry div.date:after {
	position: absolute;
	bottom: -6px;
	right: 0px;
	width: 9px;
	height: 6px;
	display: block;
	content: " ";
	background: url(../images/fold.gif) no-repeat right bottom;
}
#blog-entry img {
	float: left;
	width: 260px;
	margin: 0px 20px 10px;
}
#blog-entry h3 {
	font-size: 22px;
	text-align: left;
	padding: 0 20px;
}
#blog-entry p {
	font-size: 14px;
	line-height: 1.7;
	margin: 10px 20px;
	padding: 10px 0 0 0;
	text-align: left;
}
.article .entries {
	margin-left: 0;
}
.article .entries li {
	float: left;
	display: block;
	width: 260px;
	line-height: 15px;
	padding: 0 20px 12px;
	margin-top: 12px;
	border-bottom: 1px dashed #ddd;
}
.entries li a {
	float: left;
}
.entries li span {
	float: right;
}
.tracks a {
	color: #85898f;
}
.tracks a:hover {
	color: #d95b43;
}
.tracks img {
	float: left;
}
.tracks li {
	min-height: 34px;
}
.tracks li p {
	padding: 6px 0 0 42px;
}
.social {
	list-style: none;
}
.social li {
	float: left;
	height: 40px;
	width: 40px;
}
.social li a {
	float: left;
	display: block;
	height: 40px;
	width: 40px;
	overflow: hidden;
	background: url(../images/social-icons.jpg) no-repeat 0 0;
	border: none;
}
.social li a.twitter {
	background-position: 0 0;
}
.social li a.facebook {
	background-position: -40px 0;
}
.social li a.rss {
	background-position: -80px 0;
}
.social li a.lastfm {
	background-position: -120px 0;
}
.social li a.skype {
	background-position: -160px 0;
}
.social li a:hover.twitter {
	background-position: 0 -40px;
}
.social li a:hover.facebook {
	background-position: -40px -40px;
}
.social li a:hover.rss {
	background-position: -80px -40px;
}
.social li a:hover.lastfm {
	background-position: -120px -40px;
}
.social li a:hover.skype {
	background-position: -160px -40px;
}
footer {
	border-top: 1px solid #18121a;
	background: url(../images/header_bg.gif) repeat 0 0;
}
footer h2 {
	font-size: 14px;
	font-weight: normal;
	color: #e5e5e5;
	text-shadow: #222 1px 1px 0px;
}
footer h3, footer p, #blog-entry div.date {
	color: #e5e5e5;
	text-shadow: #222 1px 1px 0px;
}
footer .titleHover em {
	font: 11px/16px "skolar","Droid Serif",serif;
	font-style: normal;
	color: #D95B43;
}



/* Services
------------------------------------------------ */

.page-id-11 .page {
	margin: 0 0.5em;
	padding-top: 40px;
	max-width: 960px;
	width: 100%;
}
.page-id-11 .page .entry-content {
	padding-left: 0;
}
.page-id-11 .entry-content article {
	float: left;
	width: 46%;
  	padding-top: 3em;
	margin: 0 2%;
	text-align:center;
}
.page-id-11 .entry-content article img {
	background:url("../images/service-icons.gif") no-repeat 0 0;
	height:74px;
	width:74px;
	display:block;
	margin:0 auto;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
}
.page-id-11 .entry-content article img.graphic-design {background-position:0 -74px;}
.page-id-11 .entry-content article img.web-design{background-position:0 -148px;}
.page-id-11 .entry-content article img.development{background-position:0 -222px;}
.page-id-11 .entry-content article h3 {color:#C02942;}
.page-id-11 .entry-content article p {padding:0 3em 1em;}



/* Portfolio
------------------------------------------------ */

.page-template-portfolio-page-php .page,
.tax-portfolio_cat .page {
	padding-top: 0;
	margin-left: 0;
	width: 100%;
}
.page-template-portfolio-page-php .page div.entry-content,
.tax-portfolio_cat .page div.entry-content {
	padding-left: 0px;
}
.page-template-portfolio-page-php .main div.article,
.tax-portfolio_cat .main div.article {
	margin-left: 0;
	max-width: 960px;
	width: 100%;
}
.page-template-portfolio-page-php #primary .widget_categories form,
.tax-portfolio_cat #primary .widget_categories form {
	max-width: 960px;
	width: 100%;
	overflow: hidden;
	margin-left: 0;
	border-top: 1px solid #ddd;
}
.page-template-portfolio-page-php #primary ul,
.tax-portfolio_cat #primary ul {
	margin-left: 0px;
}
.page-template-portfolio-page-php #primary ul li,
.tax-portfolio_cat #primary ul li {
	float: left;
	width: auto;
	margin: 0 0.5em;
	padding: 0;
	cursor: pointer;
	line-height: 1;
}
.page-template-portfolio-page-php #primary #filter,
.tax-portfolio_cat #primary #filter {
	margin: 0 0.5em;
	padding: 0;
	display: block;
	text-align: center;
}
.page-template-portfolio-page-php #primary #filter > h2,
.tax-portfolio_cat #primary #filter > h2 {
	display: none;
	font-size: 18px;
	padding: 0 0 0 11px;
}
.page-template-portfolio-page-php #primary #filter ul,
.tax-portfolio_cat #primary #filter ul,
.page-template-portfolio-page-php #primary #filter li,
.tax-portfolio_cat #primary #filter li,
.page-template-portfolio-page-php #primary #filter li a,
.tax-portfolio_cat #primary #filter li a {
	float: none;
	display: inline;
	width: auto;
	margin: 0;
	padding: 0;
	color: #333;
	font-size: 18px;
}
.page-template-portfolio-page-php #primary #filter li a,
.tax-portfolio_cat #primary #filter li a {
	border-bottom: 1px dotted #D95B43;
}
.page-template-portfolio-page-php #primary #filter li,
.tax-portfolio_cat #primary #filter li {
	padding: 0 7px 0 12px;
	border-left: 1px solid #ccc;
}
.page-template-portfolio-page-php #primary #filter li:first-child,
.tax-portfolio_cat #primary #filter li:first-child {
	border-left: 0;
}
.page-template-portfolio-page-php #primary #filter li a:hover,
.tax-portfolio_cat #primary #filter li a:hover {
	color: #D95B43;
}
.page-template-portfolio-page-php #primary ul li label,
.tax-portfolio_cat #primary ul li label {
	float: left;
	display: block;
	width: 20%;
	padding: 7px 0 8px 0;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #ddd;
}
.page-template-portfolio-page-php #primary ul li label:hover,
.tax-portfolio_cat #primary ul li label:hover {
	background-color: #faf9fa;
	color: #4d4d4d;
}
.page-template-portfolio-page-php #primary ul li label input,
.tax-portfolio_cat #primary ul li label input {
	display: inline;
	margin: 0 4px 0 20px;
}
.page-template-portfolio-page-php ul#examples,
.tax-portfolio_cat ul#examples {
	margin: 0 0.5em;
	float: left;
	display: flex;
	justify-content: space-evenly;
	max-width: 960px;
	width: 100%;
	padding-bottom: 50px;
}
.page-template-portfolio-page-php #primary .thumbnail,
.page-template-portfolio-page-php ul#examples .thumbnail,
.tax-portfolio_cat ul#examples .thumbnail {
	-moz-box-shadow: 1px 1px 0px #ccc;
	-webkit-box-shadow: 1px 1px 0px #ccc;
	box-shadow: 1px 1px 0px #ccc;
	margin: 0 0 42px 0;
	margin-bottom: 0;
	padding-bottom: 0;
	list-style: none;
	overflow: hidden;
}
.page-template-portfolio-page-php #primary .thumbnail img,
.page-template-portfolio-page-php ul#examples .thumbnail img,
.tax-portfolio_cat ul#examples .thumbnail img {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.page-template-portfolio-page-php #primary ul li.widget-container,
.tax-portfolio_cat #primary ul li.widget-container {
	max-width: 960px;
	width: 100%;
	text-align: center;
}



/* Contact
------------------------------------------------ */

.page-id-14 .post-14 {
	max-width: 900px;
	width: 100%;
}
.page-id-14 .wpcf7 div label {
	width: 100px;
	float: left;
	font-size: 14px;
	line-height: 2.2;
}
.page-id-14 .wpcf7 form > div {
	margin-bottom: 6px;
}
.page-id-14 .wpcf7 form > div.button {
	margin-left: 100px;
}
.page-id-14 .wpcf7 form input,
.page-id-14 .wpcf7 form select,
.page-id-14 .wpcf7 form textarea {
	padding: 6px 8px;
	width: 275px;
}
.page-id-14 .wpcf7 form select {
	width: 293px;
}
.page-id-14 .wpcf7 form input.wpcf7-submit {
	width: 15%;
}
.page-id-14 .wpcf7 form input:hover.wpcf7-submit {
          color: #d88576;
}
.page-id-14 .wpcf7 form div.wpcf7-response-output {
	margin-left: 100px;
	padding: 0.6em 1em;
	float: left;
	font-size: 14px;
	background-color: rgba(0,0,0,0.5);
	border: none;
	color: #fff;
	text-shadow: 1px 1px 0 rgba(0,0,0,0.8);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}



/* Isotope Filtering
------------------------------------------------ */

.isotope-item { z-index: 2; }
.isotope, .isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}
.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}
.isotope-hidden.isotope-item { pointer-events: none; z-index: 1; }



/* Disqus Comments
------------------------------------------------ */

#disqus_thread {
  margin-left: 40px;
  margin-right: 20px;
  float: left;
  width: 900px;
}
#disqus_thread h3 {
  font-size: 16px;
  color: #1a1a1a;
}
#dsq-content .dsq-toolbar-label {
  text-shadow: none;
}
a.dsq-subscribe-email em, a.dsq-subscribe-rss em {
  text-decoration: none !important;
}
#dsq-content .dsq-comment-text {
  font-size: 12px;
  line-height: 1.7;
}



/* Profile
-------------------------------------------------------------- */

#entry-author-info {
	border-bottom: 1px dashed #CCCCCC;
	border-top: 1px dashed #CCCCCC;
	margin-left: 40px;
	margin-top: 30px;
	padding: 20px 0;
}
#author-avatar {
	float: left;
	margin-right: 20px;
}
#author-description {
	font-size: 14px;
	line-height: 1.7;
}
#author-description h3 {
	padding-top: 6px;
}
#author-description h2 {
	text-transform: uppercase;
	letter-spacing: 2px;
}
.author .archive-title {
	margin-left: 20px;
	padding-bottom: 0px;
}
.author .entry-title {
	border-bottom: none;
	padding-bottom: 20px !important;
}


/* Social Share Icons
-------------------------------------------------------------- */

div.mr_social_sharing_wrapper img {-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
div.mr_social_sharing_wrapper a {border:none;}


/* Typekit
-------------------------------------------------------------- */

.wf-inactive .headline h1 {
	font-size: 110px;
}
.wf-inactive .headline h2 {
	margin-top:6px;
}
.wf-inactive .home .headline ul {
	margin-top:64px;
}
.wf-inactive .article h2, .wf-inactive .about h2, .wf-inactive .post h2, .wf-inactive .portfolio h2 {
	font-size:24px;
}


/* Animation / Transitions
-------------------------------------------------------------- */

a { transition: color 0.3s; -moz-transition: color 0.3s; -ms-transition: color 0.3s; -o-transition: color 0.3s; -webkit-transition: color 0.3s; }



/* Responsive
-------------------------------------------------------------- */

@media screen and (max-width:600px) {
	body {overflow-x: hidden;}
	section .reading, footer .article:last-child {display:none;}
	.inner, .headline {width:100%;}
	.headline {background-position-y: -50px;background-position-x: center;background-size: cover;}
	nav #logo {float:none;margin:0 auto;}
	nav {width:auto;padding-top:20px;}
	nav ul {float:none;width:100%;margin:24px auto 0;text-align:center;display:flex;justify-content:center;flex-direction:row-reverse;}
	nav ul li {display:inline;float:none;text-align:center;}
	nav #menu-main-navigation a {padding-left: 12px; padding-right: 12px;}
	header.narrow {height:200px;}
	.article, footer .reading {width:100%;}
	div.highlight {background-size: cover;}
	.headline h1 {font-size:75px;top:0;}
	.headline h2 {font-size:14px;}
	.thumbnail {top: 120px;}
	.home .about p {width:95%;}
	.archive .post, .page .page, .single .post, .single .portfolio {float:none;margin-left:0;}
	.archive .post .entry-meta, .page .page .entry-meta, .single .post .entry-meta, .single .portfolio .entry-meta {float:none;border-left:none;width:94%;padding-bottom:20px;}
	.archive .post .entry-summary, .single .post .entry-summary, .single .portfolio .entry-summary {padding-left:0;}
	#nav-above {margin-left: 0; margin-right: 0;}
	.page-id-11 .page h2.entry-title, .page-template-portfolio-page-php .main h2 {padding-left:20px;padding-right:20px;padding-bottom:20px;}
	.page-id-11 .entry-content article {width: 100%;margin: 0;}
}

@media screen and (min-width:601px) and (max-width:960px) {
	nav ul {width: 65%;}
	.headline {background-position-y: bottom;}
}
