/* Media queries for responsive design ----------------------------------- */

@media print {
body {
	color: black;
	background: white;
}
h1 {
	font-family: Helvetica, Arial, Sans-serif;
	font-size: 24pt;
	page-break-after: always;
	text-transform: none;
	text-align: center;
	vertical-align: bottom;
}
section h1 {
	font-family: Georgia, 'Times New Roman', Serif;
	font-size: 16pt;
}
body > section {
	page-break-before: always;
}
section > section {
	page-break-after: always;
}
nav {
	display: none;
}
a:link, a:visited {
	color: black;
}
}
@media screen and (min-width: 44em) {
html {
	margin: 0 5%;
}
}
@media all and (min-width: 44em) {
body {
	font-size: 100%;
	padding: 3.5em;
}
h1 {
	font-size: 5em;
	line-height: 1;
	margin-bottom: 0;
}
section h1 {
	font-size: 2.4em;
}
nav {
	border: none;
	background: none;
}
nav h2 {
	text-indent: 0;
}
nav li a {
	display: inline-block;
	border: none;
}
nav li:first-child a {
	padding-left: 0;
}
nav li a:link, nav li a:visited {
	background: transparent;
	color: #366;
}
nav li a:hover, nav li a:focus {
	background: transparent;
	color: #366;
	text-decoration: underline;
}
}
@media screen and (min-width: 60em) {
html {
	margin: 0 10%;
}
}
@media all and (min-width: 60em) {
h1 {
	font-size: 6em;
	line-height: 1;
	margin-bottom: 0.25em;
}
section h1 {
	font-size: 3em;
}
nav h2 {
	display: inline-block;
}
body {
	padding: 5em;
}
}