/* -----------------------------------------------------------------

	Style sheet

----------------------------------------------------------------- */

@font-face {
	font-family: 'TrumpGothicEastMedium';
	src: url('../fonts/trumpgoteasmed-webfont.eot');
	src: url('../fonts/trumpgoteasmed-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/trumpgoteasmed-webfont.woff') format('woff'),
	url('../fonts/trumpgoteasmed-webfont.ttf') format('truetype'),
	url('../fonts/trumpgoteasmed-webfont.svg#webfontbvGEs1qr') format('svg');
	font-weight: normal;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: normal;
}
body {
	font-family: 'Droid Sans', Helvetica, Arial, Sans-serif;
	font-size: 87.5%;
	*font-size: small;
	line-height: 1;
	background: #021019;
	color: #fff;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: "";
	content: none;
}
ul, ol {
	margin-left: 2em;
}
ol {
	list-style-type: decimal;
}
nav ul, nav li {
	margin: 0;
	list-style: none;
	list-style-image: none;
}
pre {
          font-family: monospace, sans-serif;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
	padding: 0;
}
img {
	background-color: #000;
}
p {
	font-size: 12px;
	line-height: 24px;
}
a:hover, a:active {
	outline: none;
}
a {
	color: #fff;
	text-decoration: none;
}
p a {
          border-bottom: 1px dotted #37c0e2;
}
a:hover {
	color: #37c0e2;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-family: 'TrumpGothicEastMedium', 'LeagueGothicRegular', 'Droid Sans', Sans-serif;
	font-style: normal;
	text-transform: uppercase;
	letter-spacing: 1px;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: #077793;
}



/* -----------------------------------------------------------------

	Structure

----------------------------------------------------------------- */

#container {
	margin: 0 auto;
	width: 100%;
	background: url('../img/bg-texture.jpg') repeat-x 50% 124px;
}
#masthead {
	background-color: #000;
	border-bottom: 1px solid #333;
}
#navigation, .ad-728, #slides, .content, #footer {
	margin: 0 auto;
	width: 960px;
	clear: both;
}
#slides {
	width: 960px;
	height: 460px;
	position: relative;
	margin-top: 40px;
	margin-bottom: 53px;
	border-bottom: 1px solid #424e55;
}
.slides_container {
	margin-bottom: 18px;
}
.slide {
	height: 400px;
	overflow: hidden;
}
.caption {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
	border-radius: 5px 5px 5px 5px;
	bottom: -35px;
	color: #FFFFFF;
	display: block;
	font-size: 12px;
	left: 10px;
	line-height: 1;
	padding: 10px 0;
	position: absolute;
	width: auto;
	z-index: 500;
}
.caption p {
	font-family: 'Droid Sans', Arial, sans-serif;
	font-size: 18px;
	font-weight: bold;
	padding: 0 20px;
}
.slides-nav {
	position: absolute;
	width: 100%;
}
.slides-nav .next {
	float: right;
}
.slides-nav a {
          font-family: 'TrumpGothicEastMedium', 'LeagueGothicRegular', 'Droid Sans', Sans-serif;
          text-transform: uppercase;
          letter-spacing: 2px;
          background-color: rgba(255,255,255,0.04);
          line-height: 1;
          padding: 3px 6px;
}
.ad-728 {
	margin-top: 40px;
	text-align: center;
}
#main {
	float: left;
	width: 720px;
	margin-bottom: 40px;
}
#main .feature {
	background-color: rgba(255,255,255,0.04);
	padding: 10px 0 14px;
	float: left;
	width: 720px;
}
#main .feature .post-image {
	display: block;
	float: left;
	margin-right: 20px;
	margin-left: 10px;
}
#main .feature h2 {
	padding-top: 10px;
	margin-bottom: 18px;
}
#main .feature p {
	padding-right: 10px;
	padding-left: 310px;
}
#main .post .post-title {
	padding-top: 10px;
}
#main .post .post-title a {
	font-size: 20px;
	text-transform: uppercase;
}
#main .feature .post-title a {
          font-size: 32px;
}
#main .homepage-post {
	float: left;
	padding: 15px 10px 50px;
}
#main .homepage-post .post {
	float: left;
	width: 220px;
	display: block;
	padding: 0 20px 0 0;
}
#main .homepage-post .last {
	padding-right: 0;
}
#main .homepage-post .post .post-image {
	width: 220px;
	height: 149px;
	display: block;
	background: #000;
}
#main .homepage-post .post .post-title {
	font-size: 14px;
	padding-bottom: 8px;
}
#sidebar {
	float: left;
	width: 190px;
	margin-left: 50px;
}
#sidebar .sidebar-widget {
	float: left;
	margin-bottom: 35px;
}
.sidebar-widget h2 {
	padding-bottom: 10px;
}
#sidebar a.icon {
	float: left;
          width: 100%;
          position: relative;
          border: none;
          margin: 0 0 14px;
          font-size: 18px;
          font-family: 'TrumpGothicEastMedium', 'LeagueGothicRegular', 'Droid Sans', Sans-serif;
          text-transform: uppercase;
          letter-spacing: 2px;
          line-height: 1;
}
#sidebar a.icon img {
	position: relative;
	top: 10px;
	margin-right: 8px;
}
.section-screenshots ul {
	margin: 0;
}
.section-screenshots li {
	float: left;
	list-style: none;
	margin: 0 10px 10px 0;
}
.section-screenshots li a {
	float: left;
	padding: 4px;
	height: 50px;
	border: none;
	background-color: #077793;
}
.section-screenshots li a:hover {
	background-color: #37C0E2;
}
#twitter_update_list .tweet-time {
	float: left;
	text-transform: uppercase;
	font-size: 11px;
	border: none;
}
#navigation {
	text-align: center;
}
#navigation a {
	font-family: 'TrumpGothicEastMedium', 'LeagueGothicRegular', 'Droid Sans', Sans-serif;
	font-size: 18px;
	font-style: normal;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 2px;
}
#navigation ul.menu {
	display: inline-block;
	width: 960px;
	margin: 0;
	padding-top: 50px;
	list-style: none;
}
#navigation ul.menu li {
	width: 100px;
	float: left;
	display: block;
	text-align: center;
	padding: 0 10px;
	margin-top: 35px;
	position: relative;
}
#navigation h1, #navigation ul.menu li.logo {
	width: 460px;
	margin: 0 auto;
	text-align: center;
}
#navigation ul.sub-menu {
	position: absolute;
	left: 0px;
	top: 39px;
	border: 1px solid #333;
	border-top: none;
	background-color: #000;
}
#navigation ul.sub-menu li {
	margin: 10px 0;
}
.pagination {
	margin: 0 auto;
	width: 60px;
}
.pagination li {
	float: left;
	list-style: none;
	margin: 0 4px;
}
.pagination li a {
	background-image: url(/theoldrepublican/img/pagination.png);
	background-position: 0 0;
	text-indent: -9999px;
	border-bottom: medium none;
	display: block;
	float: left;
	height: 0;
	overflow: hidden;
	padding-top: 12px;
	width: 12px;
}
.pagination li.current a {
	background-position: 0 -12px;
}
#videos h2.section-title {
	float: left;
	font-size: 18px;
	padding-left: 10px;
	padding-bottom: 10px;
	padding-right: 14px;
}
#videos .pagination {
	float: left;
}
#videos .pagination a {
	background-color: rgba(255,255,255,0.04);
	line-height: 1;
	padding: 2px 3px 4px;
}
.video-container {
	float: left;
	background-color: rgba(255,255,255,0.04);
	width: 720px;
	padding: 10px 0;
}
.video-container .video {
	float: left;
	width: 160px;
	padding: 0 10px;
}
.video-container .video .video-title {
	font-size: 14px;
	font-style: normal;
	line-height: 18px;
	font-family: 'TrumpGothicEastMedium', 'LeagueGothicRegular', 'Droid Sans', Sans-serif;
	padding-top: 6px;
}
#footer {
	background-color: #000;
	border-top: 1px solid #333;
	border-left: 1px solid #333;
	border-right: 1px solid #333;
}
#footer .credits {
	width: 460px;
	margin: 0 auto;
	text-align: center;
	padding-top: 20px;
}
#footer p {
	padding: 20px;
	font-size: 10px;
	font-family: 'Droid Sans', Arial, Sans-serif;
	color: #404040;
	line-height: 14px;
	text-align: center;
}



/* CSS Animations
----------------------------------------------------------------- */

a { transition: 0.3s; -moz-transition: 0.3s; -ms-transition: 0.3s; /* IE, someday */ -o-transition: 0.3s; -webkit-transition: 0.3s; }



/* Responsive
--------------------------------------------------------------

@media screen and (max-width:960px) {
	.inner, .headline { width: 100%; }
	nav { width: 96%; margin: 0 auto; }
	nav ul { width: 55%; }
}
*/